{% extends 'base.html.twig' %}

{% block title %}Študentská polícia Jedlíkova 9{% endblock %}

{% block body %}

    <div class="container mb-lg-5">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Policia J9
                    <small>Aktuality</small>
                </h1>

                {% for post in posts %}

                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{ post.preview}}</p>
                        <a href="/post/{{ post.id }}" class="btn btn-primary">Viac &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{post.created|date("m/d/Y")}} by
                        <b>Admin Policia J9</b>
                    </div>
                </div>

                {% endfor %}

{#                <!-- Pagination -->#}
{#                <ul class="pagination justify-content-center mb-4">#}
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="#">&larr; Older</a>#}
{#                    </li>#}
{#                    <li class="page-item disabled">#}
{#                        <a class="page-link" href="#">Newer &rarr;</a>#}
{#                    </li>#}
{#                </ul>#}

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Členovia</h5>
                    <div class="card-body">
                        {% for user in users %}
                        <img src="{{user.photo}}" alt="{{ user.name }}" class="rounded-circle" width="45" height="45">
                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{#    #}
{#    #}
{#    {{ dump(posts) }}#}
{#    {% for post in posts %}#}
{#        <li>{{ post.title }}</li>#}
{#    {% endfor %}#}
{#    {{ include('duty/_form.html.twig') }}#}
{% endblock %}
