{% extends 'base.html.twig' %}

{% block title %}Študentská polícia Jedlíkova 9{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-10">
                <!-- Title -->
                <h1 class="mt-4">{{ post.title }}</h1>
                <!-- Author -->
                <p class="lead">
                    by
                    Admin Policia J9
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on {{ post.created|date("m/d/Y") }}</p>

                <hr>
                <!-- Post Content -->
                <p class="lead">{{ post.preview }}</p>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
