{% extends 'clearBase.html.twig' %}

{% block title %}Admin | Log in{% endblock %}

{% block body %}
    <form class="form-signin" method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <img src="/img/logoDark.svg" class="text-dark align-content-center  ml-3 mb-5" width="270px" height="90px"
             alt="">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
               value="{{ last_username }}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 Michal Hric</p>
    </form>
    {#<form method="post">#}

    {#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
    {#    <label for="inputEmail">Email</label>#}
    {#    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>#}
    {#    <label for="inputPassword">Password</label>#}
    {#    <input type="password" name="password" id="inputPassword" class="form-control" required>#}

    {#    <input type="hidden" name="_csrf_token"#}
    {#           value="{{ csrf_token('authenticate') }}"#}
    {#    >#}

    {#    <button class="btn btn-lg btn-primary" type="submit">#}
    {#        Sign in#}
    {#    </button>#}
    {#</form>#}
{% endblock %}

{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}
