{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success m-2">Uložiť</button>
    <a href="{{ path('duty_index') }}" class="btn btn-danger m-2">Zrušiť</a>
{{ form_end(form) }}
