{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Generate schedule{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-auto">
                <h2>Generovat Rozpis</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 text-justify">

                {{ include('duty/_form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}
