{% extends 'adminBase.html.twig' %}

{% block title %}Zoznam Sluzieb {% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-1 m-1">
            <a href="{{ path('duty_new') }}"> <button class="btn btn-success m-1"> Pridat Sluzbu</button></a>
        </div>
        <div class="row">
            <table class="table table-striped table-sm mt-4 mb-4">
                <thead>
                <tr>
                    <th scope="col">Meno</th>
                    <th scope="col">Deň</th>
                    <th scope="col">Začiatok</th>
                    <th scope="col">Dlžka</th>
                    <th scope="col">Akcia</th>
                </tr>
                </thead>
                <tbody>
                {% for duty in dutys %}
                    <tr>
                        <th>{{ duty.Name }}</th>
                        <td>{{ duty.dutyDate }}</td>
                        <td>{{ duty.dutyStart|date("H:i") }}</td>
                        <td>{{ duty.dutyDuration }}</td>
                        <td>
                            <a href="/admin/duty/remove/{{ duty.id }}">
                                <button class="btn btn-sm btn-danger m-1">Zmazat</button>
                            </a>
{#                            <a href="/admin/duty/edit/{{ duty.id }}">#}
{#                                <button class="btn btn-sm btn-success m-1 disabled">Upraviť</button>#}
{#                            </a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
