{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="row m-4">

            <div class="card  w-100">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-body">
                    <div class="col float-left w-50 border-right ">
                        <h5 class="card-title">Meno</h5>
                        <p class="card-text">{{ app.user.name }}</p>

                        <h5 class="card-title">Email</h5>
                        <p class="card-text">{{ app.user.email }}</p>

                        <h5 class="card-title">Telefon</h5>
                        <p class="card-text">{{ app.user.phone }}</p>

                        <h5 class="card-title">Izba</h5>
                        <p class="card-text"> {{ app.user.doormRoom }}</p>
                    </div>
                    <div class="col float-left w-50 ">
                        <div class="m-2">
                            <form method="post" action="{{ path('user_profile_update') }}">
                                <input type="hidden" name="id"
                                       value="{{ app.user.id }}"
                                >
                                <input type="text" name="name" class="form-control m-2" placeholder="Meno"
                                       value="{{ app.user.name }}">
                                <input type="text" name="email" class="form-control m-2" placeholder="Email"
                                       value="{{ app.user.email }}">
                                <input type="text" name="phone" class="form-control m-2" placeholder="Telefon"
                                       value="{{ app.user.phone }}">
                                <input type="text" name="dormRoom" class="form-control m-2" placeholder="Izba"
                                       value="{{ app.user.doormRoom }}">
                                <button class="btn btn-success float-right m-2 mb-4">Upraviť</button>
                            </form>
                        </div>
                        <div class="m-2">
                            <form method="post" action="{{ path('user_password_update') }}">
                                <input type="hidden" name="id"
                                       value="{{ app.user.id }}"
                                >

                                <input type="password" name="password1" class="form-control m-2" placeholder="New password">
                                <input type="password" name="password2" class="form-control m-2"
                                       placeholder="Confirm new password">

                                <button class="btn btn-success float-right">Uložiť</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    {#            <div class="col col-sm-3 border">#}
    {#                <div class="row m-4"> <img src="{{ app.user.photo }}" alt="" class="rounded-circle" width="150" height="150"/></div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col col-2 m-2">#}
    {#                    <div class="row">Men</div>#}
    {#                    <div class="row">Email</div>#}
    {#                    <div class="row">Email</div>#}
    {#                    <div class="row">Email</div>#}

    {#                </div>#}
    {#                <div class="col col-4 m-2">#}
    {#                    <div class="row"> </div>#}
    {#                    <div class="row"> {{ app.user.email }}</div>#}
    {#                    <div class="row"> {{ app.user.phone }}</div>#}
    {#                    <div class="row">  {{ app.user.doormRoom }}</div>#}

    {#                </div>#}
    {#            </div>#}






{% endblock %}
