{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Schedule{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-around m-2">
            <div>
                <a href="{{ path('schedule_index', { 'date': linkPrev, 'type': 'prev'  }) }}"
                   class="btn btn-primary m-2">Späť</a>
            </div>
            <div>
                <h1>{{ linkPrev|date("d.m.Y") }} - {{ linkNext|date("d.m.Y") }}</h1>
            </div>
            <div>
                <a href="{{ path('schedule_index', { 'date': linkNext, 'type': 'next' }) }}"
                   class="btn btn-primary m-2">Ďaľej</a>
            </div>
        </div>


        <div class="row m-1">
            {% for scheduleDay in schedules %}
                <div class="col col-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Čenovia na službe</div>
                        <div class="card-body">
                            <h5 class="card-title text-muted">{{ scheduleDay[0].dutyDate|date("d.m.Y") }}</h5>
                            {% for schedule in scheduleDay %}
                                <div class="row">
                                    <div class="col col-8">
                                        <p class="card-text ">{{ schedule.user.name }} </p>
                                    </div>
                                    <div class="col col-1">
                                        {% if schedule.dutyCorridor %}

                                            <a href="{{ path('user_toogle_corridor',{'id':schedule.id}) }}"
                                               class="float-left">
                                                <i class="ml-2 fa fa-minus-square fa-1x"></i>
                                            </a>

                                        {% else %}

                                            <a href="{{ path('user_toogle_corridor',{'id':schedule.id}) }}"
                                               class="float-left">
                                                <i class="ml-2 fa fa-plus-square fa-1x"></i>
                                            </a>

                                        {% endif %}
                                    </div>
                                    <div class="col col-1">
                                        {% if mySchedule is not null and mySchedule.id is defined  %}

                                            <a href="/admin/user/switch/{{ schedule.id }}/{{  mySchedule.id }}"
                                               class="m-1">
                                                <i class="ml-2 fa fa-upload fa-1x"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>


    </div>



{% endblock %}
