{{ form_start(form) }}
    {{ form_widget(form) }}
<div>
    <div class="row m-1">
        <div class="col">
            Aktualny datum a čas
        </div>
        <div class="col">
            {{ punishment.day|date("H:i:s d.m.Y") }}
        </div>
    </div>


</div>

<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
