{% extends 'clearBase.html.twig' %}

{% block title %}Admin | Punishments{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row m-2">
            <div class="col">
                <a href="{{ path('punishment_new') }}" class="btn btn-success m-2">Pridať zapis</a>
            </div>
        </div>
        {% for punishment in punishments %}
        <div class="row m-2">
            <div class="col col-sm-10">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Zapis {{ punishment.block }}-{{ punishment.dormRoom }}</h5>
                        <p class="card-text"> {{ punishment.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        Autor: {{ punishment.autor.name }}  |  {{ punishment.day|date('H:i m.d.Y') }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
