{% extends 'clearBase.html.twig' %}

{% block title %}Admin | New punishments{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col col-auto">
                <h2>Vytvorit novy zaznam</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 text-justify">
                {{ include('punishment/_form.html.twig') }}
            </div>

        </div>
    </div>

{% endblock %}
