{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-7">
                <h3>Rozpis sluzieb</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Den</th>
                        <th scope="col">Cas</th>
                        <th scope="col">Miesto</th>
                        <th scope="col">Akcia</th>
                    </tr>
                    </thead>
                    {% for schedule in schedules %}


                        <tbody>
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>    {{ schedule.dutyDate|date("d.m.Y") }}</td>
                            <td>{{ schedule.dutyStartTime|date("H:i") }}</td>
                            <td>
                                {% if schedule.dutyCorridor %}
                                    Spojovačka
                                {% else %}
                                    Vrátnica
                                {% endif %}
                            </td>
                            <td>

                                {% if schedule.switchSchedule %}
                                    <div class="col col-10 float-left">
                                        <p>Vymenit sluzbu s {{ schedule.switchSchedule.user.name }} za sluzbu
                                            v {{ schedule.switchSchedule.dutyDate|date("d.m.Y") }}  {{ schedule.switchSchedule.dutyStartTime|date("H:i") }} </p>
                                        <a class="btn btn-success btn-sm m-1 float-right"
                                           href="/admin/switch/{{ schedule.id }}/true">Prijať</a>
                                        <a class="btn btn-danger btn-sm m-1 float-right"
                                           href="/admin/switch/{{ schedule.id }}/false">Zamietnuť</a>

                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>

                    {% endfor %}
                </table>


                <br/>

            </div>
        </div>

    </div>
    </div>
    </div>

{% endblock %}
