{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#<button class="btn btn-success m-2">Uložiť</button>#}
{#{{ form_end(form) }}#}

<form class="form-inline" method="post" action="{{ path('schedule_weekend_poll') }}">
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="form-group mx-sm-2 mb-1 ml-2">
        <label for="od" class="m-1">Od:</label>
{#        <input type="date" class="form-control" id="od" placeholder="Od">#}
        {{ form_widget(form.start) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        <label for="do" class="m-1">Do:</label>
        {{ form_widget(form.end) }}
    </div>
    <div class="form-group mx-sm-2 mb-1">
        <label for="koniec" class="m-1">Koniec:</label>
        {{ form_widget(form.finish) }}
    </div>
    <div class="form-group mx-sm-1 mb-1">
        <button type="submit" class="btn btn-primary mb-1 form-control">Vytvoriť</button>
    </div>
</form>