{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Weekend poll{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Piatok</th>
                <th scope="col">Sobota</th>
                <th scope="col">Priorita</th>
            </tr>
            </thead>
            <tbody>
            {% for scheduleDay in schedules %}

                <tr>
                    <td>{{ scheduleDay.friday|date('m.d.Y') }}</td>
                    <td>{{ scheduleDay.saturday|date('m.d.Y') }}</td>
                    <td>
                        <a href="weekend/{{ scheduleDay.id }}" class="btn btn-success btn-sm">
                            Vyžiadať  <i class="ml-2 fa fa-plus-square fa-1x"></i>
                        </a>
                    </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
