{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Generate schedule{% endblock %}

{% block body %}
    <div class="container">
        <div class="col col-auto m-2 mb-4">
            <h2>Vytvoriť rozpis vikendoviek</h2>
        </div>
        <div class="row">
            <div class="col col-12 text-justify">
                {{ include('schedule/weekend/_form.html.twig') }}

            </div>
        </div>
        <div class="row m-2 ">
            <div class="col col-2 ">
                <h2> Hlasovanie</h2>
            </div>
            <div class="col col-7 ">
            </div>
                <div class="col col-2 ">
                <a href="{{ path('schedule_weekend_generate') }}">
                    <button class="btn btn-success">Generovať</button>
                </a>
            </div>


        </div>
        <div class="row m-2 ">
            <div class="col col-12 ">
                <table class="table table-hover float-left">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Meno</th>
                        <th scope="col">Piatok</th>
                        <th scope="col">Sobota</th>
                        <th scope="col">Koniec hlasovania</th>
                        <th scope="col">Priority</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for poll in polls %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ poll.user.name }}</td>
                            <td>{{ poll.weekSchedule[0].friday|date('m.d.Y') }}</td>
                            <td>{{ poll.weekSchedule[0].friday|date('m.d.Y') }}</td>
                            <td>{{ poll.weekSchedule[0].endPoll|date('m.d.Y') }}</td>
                            <td>{{ poll.priority }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>

{% endblock %}
