<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container">
        <a class="navbar-brand " href="#" style="font-size: x-large">
            <img src="/img/logo.svg" width="72px" height="28px" alt="">
            ŠPJ9
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_VIEWER')  %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-dark mr-1" href="{{ path('admin_index') }}">Home
                        <span class="sr-only"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-dark mr-1" href="{{ path('user_index') }}">Policajti
                        <span class="sr-only"></span>
                    </a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_VIEWER') %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark mr-1" href="{{ path('punishment_index') }}">Tresty
                            <span class="sr-only"></span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_VIEWER') %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-dark mr-1" href="{{ path('schedule_index') }}">Rozvrh Služieb
                        <span class="sr-only"></span>
                    </a
                    >
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-dark mr-1" href="{{ path('schedule_weekend') }}"> Vikendovky
                        <span class="sr-only"></span>
                    </a
                    >
                </li>

                {% if is_granted('ROLE_ADMIN') %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Generator
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('schedule_new') }}">Tyzdenny</a>
                            <a class="dropdown-item" href="{{ path('schedule_weekend_poll') }}">Vikendovy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('duty_index') }}">Šablony</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn btn-dark mr-1" href="{{ path('post_index') }}">Prispevky
                            <span class="sr-only"></span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item ">
                    <a class="nav-link btn btn-dark mr-1" href="{{ path('user_profile') }}">
                        {{ app.user.name }}
                        <img src="{{ app.user.photo }}" alt="" class="rounded-circle" width="30" height="30"/>
                    </a>

                </li>
                {% endif %}
                <li class="nav-item ">
                    <a class="nav-link btn btn-dark mr-1" href="/logout">
                        Logout
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>