<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    <link href="/css/blog-post.css" rel="stylesheet">
</head>
<body>
{% include 'adminMenu.html.twig' %}
{% block body %}{% endblock %}

{#<footer class="py-2 bg-dark fixed-bottom">#}
{#    <div class="container">#}
{#        <p class="m-0 text-center text-white">Copyright &copy; Michal Hric 2020</p>#}
{#    </div>#}
{#    <!-- /.container -->#}
{#</footer>#}

<!-- Bootstrap core JavaScript -->

{% block javascripts %}
    <script src="https://kit.fontawesome.com/9c4ad1cb12.js" crossorigin="anonymous"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>
