<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    <link href="/css/blog-post.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body>
{% if app.user is not null %}
    {% include 'clearMenu.twig' %}
{% endif %}
{% block body %}{% endblock %}




<!-- Bootstrap core JavaScript -->

{% block javascripts %}
    <script src="https://kit.fontawesome.com/9c4ad1cb12.js" crossorigin="anonymous"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>
