{% extends 'adminBase.html.twig' %}

{% block title %}Updaviť prispevok{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-auto">
                <h2>Updaviť prispevok</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 text-justify">
                {{ include('post/_form.html.twig') }}
            </div>


        </div>
    </div>
    {#    <a href="{{ path('post_index') }}">back to list</a>#}
{% endblock %}
