{% extends 'adminBase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-1 m-1">
            <a href="{{ path('post_new') }}">
                <button class="btn btn-success m-1"> Pridat prispevok</button>
            </a>
            <a href="">
                <button class="btn btn-success m-1 disabled"> Aktualizovat z CSV</button>
            </a>
        </div>
        <div class="row">
            {% for post in posts %}

                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.preview }}</p>
                        <a href="/post/{{ post.id }}" class="btn btn-primary btn-sm">Viac <i class="fas fa-arrow-right"></i></a>

                        <a href="/admin/post/remove/{{ post.id }}">
                            <button class="btn btn-sm btn-danger m-1">Zmazat <i class="fas fa-minus-circle"></i></button>
                        </a>
                        <a href="/admin/post/edit/{{ post.id }}">
                            <button class="btn btn-sm btn-success m-1">Updavit <i class="fas fa-edit"></i></button>
                        </a>

                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ post.created|date("m/d/Y") }} by
                        <b>Admin Policia J9</b>
                        <div class="float-right">
                            {% if post.active == 1 %}
                                <i class="far fa-eye fa-2x"></i>
                            {% else %}
                                <i class="fas fa-eye-slash fa-2x"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>
{% endblock %}
