{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Members{% endblock %}

{% block body %}
    <div class="container mb-4">
        {% if is_granted('ROLE_ADMIN') %}  <div class="row p-1 m-1">
            <a href="{{ path('user_new') }}"> <button class="btn btn-success m-1"> Pridat Policajta</button></a>
            <a href="{{ path('user_load') }}"> <button class="btn btn-success m-1"> Aktualizovat z CSV</button></a>
        </div>
        {% endif %}
        <div class="row m-1">
            <table class="table table-striped table-sm mt-4 mb-5">
                <thead>
                <tr>
                    <th scope="col">Meno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Izba</th>
                    {% if is_granted('ROLE_ADMIN') %}  <th scope="col"></th>  {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.Name }}</th>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.Phone }}</td>
                        <td>{{ user.DoormRoom }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="user/remove/{{  user.id }}"><button class="btn btn-sm btn-danger m-1">Zmazat</button></a>

                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
