{% extends 'adminBase.html.twig' %}

{% block title %}Admin | Load members{% endblock %}

{% block body %}
    <div class="container">

        <div class="row m-3 form-check-inline">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_widget(form) }}
                </div>
                <div class="col">

                    <button class="btn btn-primary m-1"> Načitať použivateľov</button>
                </div>
            </div>
            {{ form_end(form) }}


            <a href="{{ path('schedule_download') }}" class="btn btn-success">Stiahnuť vzor</a>
        </div>

    </div>
{% endblock %}
