{% extends 'adminBase.html.twig' %}

{% block title %}Admin | New member{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-1 ml-2">
            <h1>Novy použivateľ</h1>
        </div>
        <div class="col-lg-6">
            {{ include('user/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
